[2021-03-23 05:59] timsainb opened #1 "OOM on preserve_distances for mnist"
Hey all,

I'm having trouble running preserve_distances on mnist because pymde tries to allocate 1000Gb of RAM. Is that to be expected? Thanks

[code]

[2021-03-23 06:12] timsainb commented on #1
Decreasing max_distances by 1-2 orders of magnitude allows me to embed, but the embeddings don't seem to capture much structure.

[2021-03-23 17:26] akshayka commented on #1
Thanks for trying out PyMDE!

As you've seen the `max_distances` parameter can be used to control the number of distances that will be preserved/sampled. If your features are very high-dimensional, computing the original distances can take a lot of RAM. The current implementation tries to compute all these distances at once (see line 81 in the stack trace you pasted); in a future version we can ba

[2021-03-23 17:58] akshayka commented on #1
I should mention: the Euclidean distance (which is what `preserve_distances` uses to compute the original distances, when you give it an original data matrix) is not a good global metric on images, but it is a good local one (which is why `preserve_neighbors` works well for MNIST).
In particular, two images with large Euclidean distance might be similar, e.g., if one is a translation or rotation o

[2021-03-24 18:11] mfansler opened #2 "Missing License File"
The package has a license but lacks a license file. Could this please be added?

Without a license file, this precludes making a Conda Forge build of the package (which I am interested in helping with).

[2021-03-24 22:23] akshayka commented on #2
Oops, thanks! PyMDE should be carry an Apache license. I'd love your help with making a conda forge package, by the way!

[2021-03-24 23:43] #2 closed

[2021-03-24 23:45] akshayka opened #5 "Build on Conda Forge"
It would be awesome to build PyMDE on Conda Forge.

I would appreciate some help with this, since I don't have experience uploading to Conda Forge.

@mfansler, if you're still interested in helping, that would be much appreciated.

[2021-03-25 00:06] mfansler commented on #5
Am happy to help. My idea was to try a simple PyPI downstream feedstock, which shouldn't need any changes here (other than that license in the tar.gz on PyPI). For a first pass, I would try a grayskull-based recipe and see if that works. If so, additional build customization could then be done from the feedstock.

Does that sound good? Would you want to be included as a maintainer on the Conda For

[2021-03-25 01:48] akshayka commented on #5
That sounds good to me! And yes, please add me as a maintainer. Thank you!

[2021-03-25 02:55] mfansler commented on #5
Here's [the PR on Conda Forge](https://github.com/conda-forge/staged-recipes/pull/14383/). It's currently running through CI and hopefully it just works. For now I copied the license from here, but in the future we can have it pull directly from the PyPI tarball. I used a short paragraph from the README for the description (Anaconda Cloud doesn't support a rendered version).

@akshayka have a look

[2021-03-25 15:18] akshayka opened #8 "Add Python notebooks for synthetic examples (chapter 7 of the monograph)"
Chapter 7 of the monograph has some synthetic numerical examples, for the optimization subroutine. We should add Github notebooks to reproduce them.

[2021-03-25 15:26] jacobhurst opened #9 "Single cell example errors."
SolverError: Function evaluation returned NaN.

mde2 = pymde.preserve_neighbors(
    scrna_wilk.data,
    embedding_dim=3,
    constraint=pymde.Standardized(),
    repulsive_fraction=1.0,
    verbose=True,
)
embedding2 = mde2.embed(verbose=True)

This code produces the following output:-

---------------------------------------------------------------------------
SolverError

[2021-03-25 15:28] akshayka commented on #9
Whoa, thanks for raising this issue! Will take a look.

[2021-03-25 15:33] jacobhurst commented on #9
thanks! pretty excited about the package, particularly the ability to interact with the graph of the embedding which i think it will help with.

[2021-03-25 15:38] akshayka commented on #9
I just ran your code snippet, and it worked without error on my machine. However, I am using PyTorch 1.8.0, while it appears you are using 1.6.0.

I downgraded my torch installation to 1.6.0, and reran your code. And perplexingly, it worked again.

![image](https://user-images.githubusercontent.com/1994308/112500169-61eb4300-8d45-11eb-99c9-5c4a01455699.png)

**Can you try two things for me?**

1.

[2021-03-25 15:44] jacobhurst commented on #9
print((mde2.distances(mde2._X_init) ==0).any())

produces:-

tensor(False)

[2021-03-25 15:44] jacobhurst commented on #9
I will do the upgrade as you suggest..

[2021-03-25 16:05] akshayka commented on #9
My guess is a few of the distances are very small, which can lead to an error in evaluating the repulsive penalty (`pymde.penalties.log`).

If that is indeed the case, then I may have a fix. Will provide an update on this thread soon.

[2021-03-25 17:10] jacobhurst commented on #9
I've upgraded torch and got the similar output as yourself. Thanks for your help!

[2021-03-25 17:10] #9 closed

[2021-03-25 17:13] akshayka commented on #9
Great! For others who are facing this issue: it should (hopefully) be addressed by PyMDE version 0.1.4, which was just uploaded to PyPI moments ago.

[2021-03-26 10:47] Guillermo-Hidalgo-Gadea opened #12 "Fitting a large model on a GPU"
Hi Akshay,

I was trying to fit my data to a pymde.datasets object and plot the embedding with the following code:
[code]
print:
[code]

I encountered the following problem:
[code]
It seems like the` color_by=dataset.attributes['predictions']` is the problem, as I can plot the embedding without coloring, althouth there is not much to see:

![Download](https://user-images.githubusercontent.com/6606

[2021-03-26 10:53] DesiKeki opened #13 "Adjacency matrices must not contain self edges"
Using following example on my dataset:

[code]

Getting following error:

`ValueError: ('Adjacency matrices must not contain self edges; the following nodes were found to have self edges: ', array([ 34,  44, 110, 120, 153, 171, 181]))`

The dataset is https://drive.google.com/file/d/1bHi3hmfFRUE_wwqoTyHuUhd7LrdC4Pag/view?usp=sharing

[2021-03-26 11:24] Guillermo-Hidalgo-Gadea commented on #12
Hi Akshay.

sorry for posting to quick!
My attributes were a individually nested list and had to be flattened first. This did the trick.

Any idea though how to:
1) Use GPU for faster embedding
2) Zoom in to the center cluster of the figure above (and loose the outliers)?

[2021-03-26 14:53] akshayka commented on #12
Hi! Thanks for reporting this issue, and for being a very early user of PyMDE.

1. To use a GPU, pass in `device='cuda'` to `preserve_neighbors`: `pymde.preserve_neighbors(dataset.data, device='cuda', verbose=True)`. To see if PyTorch can detect your GPU, print the return value of `torch.cuda.is_available()`
2. The `plot` method returns the Matplotlib `Axis` object on which the embedding was plott

[2021-03-26 15:05] akshayka commented on #13
Thanks for reporting, and for being a very early user of PyMDE! I will take a look.

[2021-03-26 15:15] akshayka commented on #13
I have found the cause of the issue. I am working on a fix, which will be uploaded to PyPI as a new version later today.

By the way, I thought I might let you know that some columns in your dataframe are duplicates of each other. For example, rows 34 and 35 in the dataframe (loaded from the attached CSV) are the same. This leads to an error in my code, which did not anticipate duplicated items.

[2021-03-26 15:17] akshayka commented on #12
One more tip, regarding devices.

If you already have an `MDE` object on hand, you can transfer it to your GPU using `mde.to('cuda')`. To move it back to CPU, use `mde.to('cpu')`.

[2021-03-26 15:20] akshayka opened #14 "[Feature] Expose stochastic solve method"
For extremely big problems (problems too large to fit in RAM/GPU memory), the stochastic solve method from chapter 6 of the monograph is useful. This has already been implemented.

This is a tracking issue, for exposing the stochastic solve method to the public API.

[2021-03-26 15:30] Guillermo-Hidalgo-Gadea commented on #12
Thank you for the quick reply!

I'm running the embedding again with your recommendations `mde.embed(eps = 1e-8, max_iter = 1000, verbose=True)` .
Now I actually hear the GPU running :)

I'll keep you posted, thank you!

[2021-03-26 16:27] akshayka opened #16 "[Feature] Incremental Embedding"
Implement a method for incrementally embedding, i.e., for adding new points to an existing embedding, as described in chapter 2, section 4.2 of the monograph.

All the necessary pieces are already implemented; they just need to be assembled together.

[2021-03-26 16:36] #13 closed

[2021-03-26 16:38] akshayka commented on #13
A fix for this issue has been merged into the main branch. I'll upload a new version of PyMDE soon, to PyPI.

Here's some code and sample output using our data, with this fix:

[code]

![image](https://user-images.githubusercontent.com/1994308/112664153-e35ed600-8e16-11eb-8181-c4748ee429c2.png)

You can play around with the parameters to `preserve_neighbors` (eg, add `constraint=pymde.Standardized

[2021-03-26 17:19] akshayka commented on #13
@DesiKeki a new version has been uploaded to PyPI. Install it with `pip install --upgrade pymde`. Let me know if you ran into further issues, and thanks again for reporting this bug, and for being one of PyMDE's first users!

[2021-03-27 02:20] DesiKeki commented on #13
Thanks a lot for the quick fix and response @akshayka

[2021-03-30 09:58] lyf7115 opened #17 "Can't show the image"
I install the pymde in PyCharm,for the beginning example with MNIST.
I use `pymde.plot(embedding, color_by=mnist.attributes['digits'])`,but I can't see the visualization result.
I don't kown where I am wrong,can you help me?

Here is my code:
`import pymde
import torchvision

mnist = pymde.datasets.MNIST()

#Next, we embed
#    verbose=True flag turns on helpful
#    messages about what the functi

[2021-03-30 09:59] #17 closed

[2021-03-30 10:01] lyf7115 opened #18 "Can't show the image using PyCharm"
I install the pymde in PyCharm,for the beginning example with MNIST.
I use pymde.plot(embedding, color_by=mnist.attributes['digits']),but I can't see the visualization result.
I don't kown where I am wrong,can you help me?

Here is my code:
[code]

[2021-03-30 23:41] timsainb commented on #1
Thanks @akshayka I'd be interested in the shortest path metric if you have code!

[2021-03-31 01:22] lyf7115 commented on #18
Thanks,now it's going well.

[2021-03-31 03:58] akshayka commented on #1
@timsainb , sorry for the delay!

I put together a notebook showing how to use the shortest path metric, w/MNIST as the example: https://colab.research.google.com/drive/1JTmy55IFRcdeAPLXS_Sk69j52R-5KvDQ?usp=sharing

Using a small subset of MNIST, and using the most basic loss function (a quadratic) to preserve shortest paths, I get the following embedding, which seems reasonable

![image](https://

[2021-03-31 03:59] akshayka commented on #18
Great! Glad it works. I'll close this issue, then.

[2021-03-31 03:59] #18 closed

[2021-03-31 06:38] timsainb commented on #1
Thanks, I'll play around with it. Awesome paper/repo!

[2021-03-31 06:38] #1 closed

[2021-03-31 20:14] mfansler commented on #5
Finally went through!

https://github.com/conda-forge/pymde-feedstock

[2021-03-31 20:24] mfansler commented on #5
If you're interested in adding badges to this README, there are some examples in [the feedstock README](https://github.com/conda-forge/pymde-feedstock#current-release-info), as well as [ones from Anaconda Cloud](https://anaconda.org/conda-forge/pymde/badges).

[![Conda Version](https://img.shields.io/conda/vn/conda-forge/pymde.svg)](https://anaconda.org/conda-forge/pymde)

[2021-04-01 17:39] theholymath opened #19 "Incompatibility with Python 3.9x or Numpy versions."
I am trying to explore the code and getting some incompatibility with python version 3.9 and/or my version of numpy 1.19.3

The trace:
[code]

[2021-04-01 17:48] theholymath commented on #19
Okay, upgraded to numpy==1.20 and it works now. Something weird with numpy 1.19 though.

[2021-04-01 17:56] akshayka commented on #19
Thanks for reporting. It might be the case that the wheels are built with 1.20, instead of the oldest supported numpy version. The way the build handles the NumPy version dependency right now is not ideal.

[2021-04-03 01:51] rajarshi opened #20 "Interface with igraph"
Hi, really interesting package with some great features. It'd be really handy if it were able to use objects constructed using igraph

[2021-04-03 03:07] mfansler opened #21 "module `requests` not found"
The Datasets functionality is partially dependent on the `requests` package through `torchvision.datasets`. However, `torchvision` doesn't consider that to be essential functionality, so `requests` is not an explicit dependency. This leads users who create a minimal environment, e.g.

[code]

to encounter a ModuleNotFound error when trying an example like

[code]

Not a huge deal, but if following

[2021-04-03 15:48] akshayka commented on #21
Thanks for reporting! I've created a PR that includes requests as a dependency. The MNIST example should work out of the box.

[2021-04-03 15:58] akshayka commented on #20
Hey, thanks for this piece of feedback. Adding new dependencies is a big change, so I'll have take some time to evaluate this.

In the meantime, if `igraph` has methods that return the edges and edge weights, you could pass these to the relevant functions in PyMDE (after wrapping them in `torch.Tensor` objects).

For example, I believe you can get the edges from an `igraph` object with `graph.get_

[2021-04-03 15:59] #21 closed

[2021-04-12 09:06] bbdamodadran commented on #16
thanks for your nice work. I am interested in the incremental embedding. Let me know when do you plan to have?.

[2021-04-12 15:25] akshayka commented on #16
Thanks for your interest!

My tentative plan is to develop this feature within the next one to two months. I will update this thread once I start development.

[2021-04-14 20:11] davisidarta opened #27 "Starting MDE from distances or affinities?"
Hi @akshayka ! Thank you for your beautiful work and this wonderful library.

I wonder if it is possible to use pyMDE with distances or affinities matrices as input. I'm working on a topological data analysis library and would very much like to include some pyMDE wrappers for graph layout and visualization.

For example, would it be possible to start the pymde with only pairwise distances and/or k

[2021-04-14 20:25] akshayka commented on #27
You're most welcome! Thanks for your interest.

Yes, you can do this with PyMDE.

Yes, definitely. You'd construct your own `MDE` object, based on the distances / affinities.

None. The `MDE` class is part of the public API (https://pymde.org/mde/index.html, https://pymde.org/api/index.html#mde)

This notebook, starting with "Embeddings, from scratch", shows how to make an embedding based on prese

[2021-04-20 21:05] #12 closed

[2021-04-22 17:56] akshayka opened #31 "[Feature] Multiple constraints on mutually exclusive sets of items"
It is in principle possible to have multiple constraint sets, so long as the constraints are on mutually exclusive subsets of the items.

For example, for `n=1000` items, the vectors of items 0, ..., 99 could be anchored in place, while the submatrix of the embedding for items 100, ..., 999 could constrained to be standardized.

[2021-04-22 18:02] akshayka opened #32 "[Feature] Other distances besides Euclidean"
The quality of an embedding in PyMDE is judged by the collection of of Euclidean distances between pairs of embedding distances.

Euclidean distance is natural for visualization, since it is the distance that humans use in the real world. It is also closely related to the standardization constraint (which puts an upper bound on the sum of squared Euclidean distances between embedding vectors).

Th

[2021-04-23 02:36] turmeric-blend opened #33 "does pymde handle missing data?"
Hi, this is an interesting library :) I have one question, does `pymde` handle missing data?

For example, for `data` of shape `(n_items, n_features)` as input into ` pymde.preserve_neighbors(data)`, some  `n_features` may be `nan`.

[2021-04-23 19:47] akshayka commented on #33
Hey, thanks for your interest in PyMDE!

Missing data is tricky. The high-level functions (`preserve_neighbors` and `preserve_distances`) cannot handle missing data. Missing data can mean different things in different contexts, so these high-level functions simply don't have enough information about how to interpret missing data, and how to compare, say, a row (example) with missing feature values

[2021-04-25 15:24] fsaghir opened #34 "PyMDE getting stuck on "Computing quadratic initialization""
Hi.

I have had some on and off luck with using pymde. I am trying the embedding on a dataset of images and the way I have been working on my experiment is as follows:

- Extract images from folders and save them as a numpy array
- Convert images using a CNN-AutoEncoder (CAE) model to 1x1x8 code
- Use pymde to calculate the embeddings
- Use HDBSCAN to cluster the embeddings

The experiment works g

[2021-04-25 16:05] akshayka commented on #34
Hey, thanks for trying out PyMDE!

Computing the quadratic initialization can take some time if the number of items is large.

I assume you're using the `preserve_neighbors` function. Can you try the following? Pass in `init='random'` to the function. That will bypass the quadratic initialization computation.

So, something like

[code]

The init strategy is explained in the docs here: https://pym

[2021-04-25 21:54] akshayka commented on #16
@bbdamodadran, I've added an example notebook that shows how to do incremental embedding (i.e., add new points to an existing embedding), using `pymde.preserve_neighbors`. It's just 3 lines of code (or 1, if you chain them together).

The notebook is here: https://github.com/cvxgrp/pymde/blob/main/examples/updating_an_existing_embedding.ipynb

Hopefully that's enough to get you started. Let me kno

[2021-04-26 00:25] turmeric-blend commented on #33
I have store items data like type of item (with categories and sub categories), price, sales, which typical region of consumers buys them... etc.

I want to visualize them in clusters and potentially generate input features (encompassing the relationship between store items) using `pymde` and feed it into a machine learning model.

[2021-04-26 02:12] fsaghir commented on #34
Thanks! That did help. However, I did notice that at times the quadratic initialization for a large dataset would run very quickly (this happens totally at random and I am not able to reproduce this consistently) .

Additionally, the files I have loaded do not have much difference in number of data rows. "2list.npy" has ~25K rows and the quadratic initialization with this dataset runs almost immed

[2021-04-26 03:38] akshayka commented on #34
Wow, 30-40 minutes is way longer than I would expect! Computing a quadratic embedding on MNIST (70k items) takes just a few minutes. Thanks for letting me know.

Generally you shouldn't have duplicate items when using PyMD, but I wouldn't expect the presence of duplicates to increase runtime.

I'll take a look at your data later this week.

[2021-05-07 01:31] davisidarta commented on #27
Thank you so much for you warm and kind answer! I spent these last days exploring pyMDE further on. It is even more flexible, complex and rich than I had initially imagined, and I'm thinking about dropping other layout algorithms altogether in favor of pyMDE.

From what I get from your code (it is rich and complex, so forgive me if I misunderstood), I need a tensor of edges to initialize the MDE p

[2021-05-08 18:39] akshayka commented on #27
@davisidarta,

Thanks for the kind words!

That's so awesome to hear! Whenever you're ready to share, I'd love to learn more about what you've been working on, and the kinds of embeddings you've made.

This is the first I've heard of TopOMetry. It sounds interesting! I will check it out.

(Regarding HNSW: I chose not to use it because (at least when I started development) there was no easy way to

[2021-05-08 19:00] akshayka commented on #34
@fsaghir,

Apologies for the delay, I was out on vacation last week.

I just took a look at your notebook. I'm actually unable to run it. When attempting to load the encoder, the notebook throws the following error:

[code]

I changed the relative path to a full path, and got the same error.

I did this in a fresh virtual environment. In fact I was unable to even install the requirements. `pip ins

[2021-05-12 02:52] ahwillia commented on #27
I had the same question, so figured I would post here. Sorry if I'm being dense or missing this in the documentation somewhere, but how do you switch between using affinities and dissimilarities? If I understand your linked colab notebook correctly, the edge weights are interpreted as affinities.

Right now I've been doing the following (inputing dissimilarities, which happen to also satisfy the t

[2021-05-12 03:11] akshayka commented on #27
@ahwillia, here is the code: https://colab.research.google.com/drive/1Szrw-Mt_yM0kCKe-Jj0S2PbJu-NgobfO?usp=sharing

You'll find that it's very similar to the previous notebook.

I would also encourage you to take a look at the following sections in the documentation:

https://pymde.org/getting_started/index.html#preserving-distances

https://pymde.org/mde/index.html#losses

https://pymde.org/api/i

[2021-05-12 03:33] ahwillia commented on #27
Ok, so the key is just to replace `pydme.penalties.Quadratic` (for affinities) with `pydme.losses.Quadratic`. Got it.

It looks like the `preserve_distances` helper function is even easier though, I think I confused myself by digging into the more complex API before checking that one out first.

Do I understand this correctly -- if `preserve_distances` receives a numpy array it assumes it is a dat

[2021-05-12 04:18] davisidarta commented on #27
Thank you, @akshayka ! This worked perfectly and now my code runs significantly faster!

I've basically initialized a pymde.Graph with the affinity matrix and used it to build custom pyMDE problems that are almost identical to your recipes. I've added an internal wrapper to TopOMetry [here](https://github.com/davisidarta/topometry/blob/master/topo/layouts/mde.py), and employ it for laying out topo

[2021-05-12 04:35] akshayka commented on #27
@davisidarta, I'm elated to hear that PyMDE has been useful for you. Thanks for being an early adopter!

That's awesome!!

I've sent you an email. Happy to chat!

[2021-05-12 04:40] akshayka commented on #27
Yes, you're right.

Thanks for the suggestion! I'll definitely consider it. I agree the `preserve_distances` API could be improved, so I very much appreciate the feedback.

You're most welcome!

[2021-05-22 13:31] fsaghir commented on #34
@akshayka,

This time apologies from my side for a late response. Here is the new link with the requested encoded files:

[https://drive.google.com/file/d/1nNjBfK5q6_sZrGj3IHnlku93SPwKEJCw/view?usp=sharing](url)

[2021-05-22 13:33] fsaghir commented on #34
https://drive.google.com/file/d/1nNjBfK5q6_sZrGj3IHnlku93SPwKEJCw/view?usp=sharing

[2021-05-22 13:35] fsaghir commented on #34
Closed the issue by mistake. Have reopened it.

[2021-05-28 18:47] theresekoch opened #35 "[docs] Update example in documentation"
I noticed a typo in the example in the MDE>Distortion functions>Losses section of the documentation (https://pymde.org/mde/index.html#losses) .  The second line of the example reads `f = pymde.losses.Quadratic(weights)`, when it should read `f = pymde.losses.Quadratic(deviations)`.

I'm happy to fix this by forking the repo and submitting a pull request. Is that ok? Should I go ahead and do the sa

[2021-05-28 19:21] akshayka commented on #35
@theresekoch, thanks so much for catching this typo and reporting it.

Yes, please do submit a PR, for this and for any other mistakes you find. That would be very much appreciated.

Thanks!

[2021-05-28 23:13] theresekoch commented on #35
No problem! Here is a link to the pull request https://github.com/cvxgrp/pymde/pull/36.

[2021-06-01 15:42] #35 closed

[2021-06-04 17:55] bbdamodadran commented on #16
@akshayka Thanks for adding this new feature and also for the neat example.

[2021-06-08 22:36] akshayka commented on #33
@turmeric-blend , so sorry for the late response, I missed your follow up.

PyMDE won't be able to handle missing values for you. Your best bet is to come up with a custom MDE problem, using your own "metric" that can account for your missing values.

[2021-06-08 22:36] #33 closed

[2021-06-09 08:04] blenderben2 opened #37 "does pymde support time series data?"

[2021-06-11 17:37] akshayka commented on #37
Sure, you can embed that with PyMDE.

Is the idea that you want to embed each sample? In that case, you can convert your dataframe into a NumPy array of shape (50, 1000), and use `pymde.preserve_neighbors` or `pymde.preserve_distances` to obtain an embedding for each sample.

The [documentation](https://pymde.org/getting_started/index.html#) explains how to do things like this. Let me know if you

[2021-06-17 20:43] ivan-marroquin commented on #32
Hi @akshayka

Thanks for asking for feedback. With my datasets, it seems that minkowski with p < 1 is a better choice to deal with the issue of distance concentration. I noticed that PyNNDescent supports several metrics including custom ones.

[2021-06-18 14:56] ivan-marroquin opened #39 "warning message from pytorch"
Hi,

Many thanks for making available this nice package!

I have a windows machine with Python 3.6.5 and install pymde-0.1.11, torch-1.9.0, torchvision-0.10.0

To produce a 3D embedding, I used this commands:
embedding= pymde.preserve_neighbors(input_data, embedding_dim= intrinsic_dim, attractive_penalty=
                                                                   pymde.penalties.Log1p, rep

[2021-06-18 18:33] ivan-marroquin commented on #39
Here is another one when using these commands

embedding= pymde.preserve_neighbors(input_data, embedding_dim= intrinsic_dim, attractive_penalty= pymde.penalties.Log, repulsive_penalty= pymde.penalties.LogRatio,
constraint= None, n_neighbors= 5, repulsive_fraction= 0.75, init= 'random', device= 'cpu')

projected_data= embedding.embed(max_iter= 350, memory_size= 20)

C:\Temp\Python\Python3.6.5\lib\s

[2021-06-20 16:17] akshayka commented on #39
Thanks for reporting! I'll make a fix for this.

These warning messages will not however affect the quality of the embedding.

[2021-06-21 15:35] ivan-marroquin commented on #39
Hi @akshayka

Thanks for confirming about the quality of the embedding is not affected.

Ivan

[2021-06-21 16:10] #39 closed

[2021-06-30 10:56] #34 closed

[2021-07-02 18:52] afrendeiro commented on #19
Can confirm the same using Python3.9 and numpy==1.19.5, solved with numpy upgrade to 1.21.0.

[2021-07-03 16:30] akshayka commented on #19
PR #41 should fix this problem. I won't close this issue until a new version of PyMDE is deployed with the fix, though.

[2021-07-03 16:34] #27 closed

[2021-07-03 16:34] #5 closed

[2021-07-03 16:36] akshayka commented on #32
@ivan-marroquin ,

To clarify, do you want to use a different metric to measure the k-nearest neighbors of original data? Or do you want to use a different metric to measure distances in the embedding?

I'm guessing the former, because you mentioned PyNNDescent. But just thought I'd double check.

[2021-07-04 17:59] ivan-marroquin commented on #32
Hi @akshayka

Correct, I believe that it will be beneficial to use PyNNDescent to measure the -k-nearest neighbors, so then PyMDE can be used to compute a lower dimension while preserving neighbors.

Ivan

[2021-08-30 08:05] schinto commented on #32
Can you please provide the Tanimoto distance (often used to compare molecular fingerprints) and Gower's distance (for mixed data records like patient data) as additional metrics in PyMDE?

Thanks,
Torsten

[2021-09-07 18:49] jstankowicz opened #42 "Nearest Neighbor edges are not consistent between runs"
Hello,
Running `pymde.preserve_neighbors` does not always produce the same set of edges as stored in `mde.edges`.
Here is a MWE:
[code]
This prints:
[code]
Note per the comment above, if I switch to `n_examples = 14`, I get that all elements of `collect` are identical.

I haven't been able to fully trace the issue, but did note that the `neighbors` variable defined [here](https://github.com/cvxgrp

[2021-09-07 21:00] akshayka commented on #42
Thanks for reporting, and for the great MWE! I'll take a look.

[2021-09-14 00:57] ltsypin opened #43 "Setting random seed"
Thanks so much for this awesome tool! I feel like I might be missing something obvious, but I can't find a way in the API to set a random seed, such that the projections are reproducible for sharing or publication. If this is possible, could you please point me to it?

[2021-09-14 04:25] akshayka commented on #43
You're welcome!

Great question. We don't have an official API for setting seeds, but we certainly should.

In the meantime, can you try the following?

[code]

[2021-09-14 17:46] akshayka commented on #42
@jstankowicz,

I took a look.

`pymde.preserve_neighbors` randomly subsamples from the neighborhood graph.

Right now PyMDE doesn't have an API for setting the random seed (I plan to add one, see issue #43). For now, you can get deterministic behavior by setting two random seeds (one for PyTorch, one for NumPy) before calling `preserve_neighbors`:

[code]

prints

[code]

Let me know if that helps

[2021-09-14 18:25] akshayka commented on #42
Alternatively, you can disable the inclusion of repulsive distortion functions, which will make the neighborhood computation deterministic.

Note the kwarg `repulsive_penalty` below. Setting it to `None` disables repulsion.

[code]

[2021-09-16 06:25] ltsypin commented on #43
Thank you! I've had to step away from this project for a few days, but I'll hopefully be able to test this out soon. 😄

[2021-09-18 00:27] ltsypin commented on #43
Hi Akshay! In my hands, setting the seed this way doesn't reduce the randomness of the plots...

[2021-09-18 18:10] akshayka commented on #43
Interesting. @ltsypin, can you post a code snippet that lets me reproduce the nondeterminism? That would help me fix it.

[2021-09-18 20:57] ltsypin commented on #43
I'll try to create minimal example that is easy to share. I'm working with a fairly large dataset (>15,000) points, so I'll need to see whether I can reproduce this with an easily copy-pastable subset. I'll try to get back to you soon!

[2021-09-19 03:29] ltsypin commented on #43
Here we go!

[code]
This is a heavily subsampled dataset. If it gets too small, the plots become reproducible, but the bigger it is, the worse the reproducibility, regardless of the seed. My actual dataset is 16498x62 (i.e. the data are in 62-dimensional space). What I'm showing here are a random 100 rows and every second column for each, so 31-dimensional space for roughly 1/165 of the data.

[2021-09-21 19:26] jstankowicz commented on #42
Thanks for taking a look at this! Like you guessed, I was looking into this for random-seed-setting purposes. Interestingly the random-seed-setting doesn't work for 36 examples:
[code]
returns:
[code]
If I traced it through correctly, looks like that might result from swapping from `sklearn` (for 35 and fewer examples) to `pynndescent` (for more than 35 examples), and `pynndescent` can return diff

[2021-09-21 21:37] pkmital opened #44 "sklearn-intelex integration"
Hi, I've seen this work by Intel: https://github.com/intel/scikit-learn-intelex and curious if anyone has looked into how it may compare / if it can be used as a speed up for nndescent? There is an example notebook here showing the speedup on a toy example: https://www.kaggle.com/kppetrov/fast-knn-using-scikit-learn-intelex-for-mnist - i believe there are also additional hooks for GPU methods: htt

[2021-09-29 22:48] akshayka commented on #42
@jstankowicz, thanks so much for the follow up, and sorry for the late reply! I was out on vacation.

I've created a fix (https://github.com/cvxgrp/pymde/pull/45) which I believe solves this issue.

The above PR adds a function, `pymde.seed`, which lets you set a global random seed. (It sets the NumPy and torch global seeds, and initializes a NumPy generator for later use by internal PyMDE code. T

[2021-09-29 22:57] akshayka commented on #43
@ltsypin, thanks so much for the follow up, and sorry for the late reply! I was out on vacation.

Your example is probably the only very long and yet very simple minimal example I've seen :) It's perfect, thanks.

I've created a fix (#45) which I believe solves this issue.

The linked-to PR adds a function, `pymde.seed`, which lets you set a global random seed. (It sets the NumPy and torch global

[2021-09-30 15:01] jstankowicz commented on #42
No worries, thanks for diving into this! I pulled the `random_seed` branch, and confirmed that `pymde.seed(0)` indeed resolves all the issues above. Thanks!

[2021-09-30 16:15] akshayka commented on #42
Great! Thanks again for raising the issue and providing helpful code snippets.

I'll merge the PR soon and cut a new release. Once that's done, I'll close this issue.

[2021-09-30 16:35] #42 closed

[2021-10-05 21:49] akshayka commented on #44
Hi, thanks for the suggestion! We haven't looked into speeding up the nearest neighbor computation.

For speeding up nndescent in particular, I would suggest moving this discussion to the [pynndescent](https://github.com/lmcinnes/pynndescent) Github repository.

[2021-10-05 21:50] akshayka commented on #43
@ltsypin, version 0.1.13 includes the `seed` function, which should solve your problem.

I'm going to mark this issue as closed. But please do reach out if you're still running into trouble!

[2021-10-06 05:23] ltsypin commented on #43
Thank you! I've had to step away from this work for a little while, but I'll let you know if I have any issues. I really appreciate how responsive and caring you are about this project!

[2021-10-06 05:23] #43 closed

[2021-12-02 10:38] psychobas commented on #14
Hi @akshayka, thanks for the awesome package! Do you already know when the stochastic solve method will be exposed to the public API?

[2021-12-03 19:07] akshayka commented on #14
Hi @psychobas, thank you for the kind words!

I do not know when the method will be exposed, or rather "officially supported", but all the code already exists and is available within this repository.

You're welcome to play around with it, though you very well may find bugs or inefficiencies.

In particular, check out

- https://github.com/cvxgrp/pymde/blob/main/pymde/problem.py#L480-L494
- https:

[2021-12-05 08:18] psychobas commented on #14
Hi @akshayka

Ah great, thanks, will check that out!

Yes, I was trying to use preserve_distances on 600'000 SBERT embeddings on an A100 GPU and it failed because of memory (tried to allocate 71.53 GiB).

[2021-12-06 22:10] actrina opened #48 "Error when embedding new points"
Hi.

I'm interested in using PyMDE for some embedding problem. In the training data the method seems to work fine, but I've been trying to use the function of incremental embedding in order to embed new points and I obtain the following error:

This is a part of my code:

[code]

When performing `incremental_mde.embed()` appears the following error:

_SolverError: Function evaluation returned NaN.

[2021-12-06 22:34] akshayka commented on #48
Hi, thanks for reporting this issue!

Would it be possible for you to share the `adj` object with me (e.g., via a Google Drive link)? That would let me recreate your issue locally and debug it.

Additionally, what version of PyMDE are you using?

[2021-12-07 02:10] actrina commented on #48
Hi.
Of course. The `adj` object is an array for the adjacency matrix of the graph representation of the data. [This is the link](https://drive.google.com/file/d/1XCCFfJwI9BD7372-3L7HIYfelPresYeO/view?usp=sharing) to the .csv file of this object.
The PyMDE version I have is the 0.1.14.

[2021-12-07 02:25] actrina commented on #48
Hi.
I think I found the error. It was my mistake as I was doing the updating of embedding wrong. I reviewed your example for updating the embeddings and I missed that the new MDE problem should include all the dataset.
Thank you again, and sorry for the inconvenience.

[2021-12-07 02:25] #48 closed

[2021-12-07 14:18] eleonoravercesi opened #49 "Failed building wheel for llvmlite on Mac M1"
Hi, I am trying to install `pymde` on a MacBook Air with an M1 chip. I have tried both in a virtual environment and globally.

[code]

However, I am always facing the same issue.

[code]

[2021-12-10 09:04] eleonoravercesi commented on #49
After a little search, I have solved my issue with the following steps.

1. Instead of using Mac `python3` (`/usr/bin/python3`), I have started using `brew python3` (`/opt/homebrew/bin/python3`).
2. I have installed `llvm@11` using `brew`
[code]
3. Then, I have manually installed `llvmlite` by specifying the `llvm-config` path (found on [GitHub](https://github.com/numba/llvmlite/issues/693#issueco

[2021-12-10 21:21] akshayka commented on #49
Sorry for the delay, and thank you for posting the solution!

I think this is likely due to the dependency on pynndescent, which uses numba, which in turn uses llvm for just-in-time code generation.

I will take closer look, and perhaps update the installation directions to point to your above comment.

Thank you!

[2022-02-21 18:30] cowjen01 opened #50 "Adding or removing one sample results in absolutely different embeddings"
My code is following:

[code]

When I use the first 1,000 samples from the input matrix I get a very different results then using one sample more (1,001).

Here is the log:

[code]

And here the output embeddings:

<img width="641" alt="Screenshot 2022-02-21 at 19 26 46" src="https://user-images.githubusercontent.com/6173850/155009657-bb4c188c-4b48-4d6c-aed9-f2debd56cc74.png">
<img width="633" alt

[2022-02-21 19:04] kyleford8 opened #51 "Continuous color bar for categorical variables"
First off, cool package! I've noticed that when I supply categorical arrays to "color_by" I still end up with a continuous color bar in my figure. I'm using pymde version 0.1.2 with python 3.9.7, pandas 1.3.4, and numpy 1.20.3. Hardware is an M1 MacBook Pro. I've checked that I'm actually using variables which are categorical, but otherwise haven't been able to figure out why I always get a smooth

[2022-02-21 19:22] kyleford8 commented on #49
For what it's worth, I had the same issue, and can confirm the solution posted above works (been a while since I installed numba, but I remember having to do something nearly identical with llvmlite). In my case, it was definitely a numba/llvm issue, which also affects installation of UMAP (and probably many other packages) on M1 Macs.

[2022-02-21 20:40] cowjen01 opened #52 "SolverError after using Standardized constraint"
I would like to use the `Standardized()` constraint, but every time I get a following error:

[code]

I tried different configurations of the `preserve_neighbors` function, but still getting the same error. After removing this constraint, everything works just fine. I also tried `Centered()` constraint, which works as well.

My implementation is:

[code]

[2022-02-22 17:02] akshayka commented on #50
It depends how close the new sample is on average to the first 1000 samples. If it's a nearest neighbor of many of the original samples, then the embedding may look a bit different.

A few things you can try:

- Use the align function to align the first embedding to the first 1000 rows of the second embedding (https://pymde.org/api/index.html#pymde.align)
- Supply a small value of `eps` to the emb

[2022-02-22 17:07] akshayka commented on #51
You're right, you should get a discrete colorbar. I tried a few examples on my own machine (using strings and ints) and got discrete colorbars as expected.

Can you include the value of `test` so I can take a look?

[2022-02-22 17:09] akshayka commented on #52
This is because you have duplicated items in your data matrix (if this is for the same or similar data for your other issue). For embedding problems, there's no need to get multiple vectors for the same item. If you have a specific need for that then maybe you can explain what you're trying to do, and we can see if there's another way to do it.

[2022-02-22 17:36] kyleford8 commented on #51
Sure, the values of test are:
[code]
Output: ['Liver' 'Brain' 'Pancreas' 'Heart' 'Lung' 'Intestine' 'Spleen' 'Kidney'
 'Muscle']

I've also tested it with a toy example with an array defined using a list strings, yielding the same result.
[code]
![MDE_test](https://user-images.githubusercontent.com/67128320/155185809-1fb5d6b5-d905-4fc1-8451-d9b8d43d991d.png)

Interestingly, when I try using the MN

[2022-02-22 20:53] akshayka commented on #51
Wow, it's curious that the MNIST example doesn't work for you. That works for me locally, and on colab: https://colab.research.google.com/drive/1FZmKL-_fNrAHswBWFQzWvULcDFWFLlvX?usp=sharing

What version of matplotlib are you using?

I noticed that you're using an old version of PyMDE (0.1.2, the latest is 0.1.14). You might want to upgrade (though I can't reproduce this bug even on 0.1.2).

[2022-02-22 23:50] kyleford8 commented on #51
I'm using matplotlib 3.5.1. Doing a fresh install in a clean conda environment (with just PyMDE  0.1.14 + dependencies) produces plots with the correct behavior, as does updating to PyMDE 0.1.14 in my existing environment. Not sure what the underlying problem is (since it wasn't reproducible on your machine or colab), but marking as closed since there's a simple working solution. Thanks for all of

[2022-02-22 23:50] #51 closed

[2022-02-24 20:44] adamgayoso opened #53 "Implement pymde in Scanpy"
This is a super cool package! It would be great to see it directly used in [Scanpy](https://scanpy.readthedocs.io/en/stable/)

I made an issue there describing a bit about the feature request. It seems pretty straightforward to implement given that you have recipe functions already. I'm not sure how much work it would be to directly use the neighbors graph created by `scanpy.pp.neighbors` (also us

[2022-02-25 17:59] adamgayoso opened #54 "Quadratic initialization on GPU"
The quadratic initialization takes the most time for a dataset with 150k observations and 15 nearest neighbors. Is it possible to use the GPU for this?

PyTorch has support for both CUDA-backed COO matrices and [lobpcg](https://pytorch.org/docs/stable/generated/torch.lobpcg.html). See sparse supported linear algebra [operations](https://pytorch.org/docs/stable/sparse.html#supported-linear-algebra-

[2022-02-25 18:17] akshayka commented on #54
Oh, that's awesome! I wasn't aware that sparse support had become this mature.

I'm definitely open to having this in PyMDE.

[2022-02-25 18:20] akshayka commented on #53
That would be fantastic!

[2022-02-25 18:21] adamgayoso commented on #54
I could maybe try to implement it, but even if it was in there, it seems like it's not accessible through `preserve_neighbors` (`cg=True`) option for quadratic init

[2022-02-25 18:25] adamgayoso commented on #53
Hypothetically it could depend on it (maybe through lazy import and extras...) but the only thing is that scanpy disentangled umap neighbor computation with embedding learning, so somehow using a neighbors graph directly would need to be implemented on the pymde side I think.

[2022-03-22 20:30] #54 closed

[2022-03-25 14:55] pkmital opened #57 "[Question] Possible to invert embedding?"
Hi, thank you for an incredible package! I am interested in visualizing decision boundaries of my high dimensional data as viewed in a lower dimension. In order to do this, I plan to take my high dim data and embed to 2D, and then find an invertible transform that goes from the extents of my 2D data back to the high dimensional data s.t. I can apply my function for discovering the likelihood on th

[2022-03-28 19:52] TobiasKonradsen opened #58 "Updating embeddings Notebook - doesnt work"
Hallo, have recently looked into this cool library, and wanted to do some embedding.

But have trouble running the updating embeddings notebook.
https://github.com/cvxgrp/pymde/blob/main/examples/updating_an_existing_embedding.ipynb

 When I do this step:

incremental_mde = pymde.preserve_neighbors(
    mnist.data,
    constraint=anchor_constraint,
    init='random',
    verbose=False)

 I get the

[2022-03-28 20:07] akshayka commented on #58
Thanks for reporting! working on a fix

[2022-03-28 20:47] akshayka commented on #58
I've pushed a fix, and a new version should be uploaded to PyPI & conda forge soon (0.1.15) that contains this fix. I'll close this issue when the new version lands.

[2022-03-29 02:22] akshayka commented on #58
The fix is available on PyPI now, and will be on conda forge soon, as version 0.1.15.

Thank you for reporting this issue!

[2022-03-29 02:22] #58 closed

[2022-04-01 15:38] akshayka commented on #57
Hey, sorry for the late response!

Embeddings made with PyMDE can't be inverted. You could try some rough heuristics, though. For example, for each grid point you want to "invert", take the 5 nearest embedded points, look up their original high-dimensional representations, and take their average. I'm really not sure how well that would work, but it should definitely do something.

[2022-04-28 18:48] angeris opened #60 "Incorrect conda command on installation page"
Heya! I think the command on the [Installation page](https://pymde.org/installation/index.html) is currently

[code]

but the channel should be immediately after the `-c` flag (and should prioritize the PyTorch channel)

[code]

Otherwise it fails with the following message:
[code]

Thanks!

[2022-04-30 01:35] SSamDav opened #62 "Implement default metrics"
Hi, how could we use pymde to implement default metrics like UMAP?

[2022-05-02 18:47] angeris commented on #60
closed by commit 7a5b9d3d10f0fa1070701b1dc9861475a82918ea

[2022-05-02 18:47] #60 closed

[2022-06-17 07:35] slinnarsson opened #64 "Distortion functions on the embedded positions?"
Hi - thanks for developing pyMDE!

I am trying to create an embedding like tSNE or UMAP, but with additional bias on the embedded space. For example, I have single-cell RNA-seq data and would like to embed according to cell-cell similarity as usual. In addition, each cell (sample) has an attribute, for example "age", and I would like to bias the embedding to place larger values of the attribute fu

[2022-09-17 22:11] jlmelville opened #65 "Using pre-computed knn with preserve_neighbors"
Hello, is it possible to use `preserve_neighbors` with pre-computed k-nearest neighbors data in the distance-matrix-like form used by the likes of UMAP and t-SNE? In this format, the indices and distances are stored as separate matrices of shape `n_objects, n_neighbors`. The element (i, j) in the index matrix is the index of the `j`th nearest neighbor of `i`, and the equivalent element in the dist

[2022-09-29 16:06] akshayka commented on #65
@jlmelville, sorry for the late response. Yes, with PyMDE, you can use pre-computed k-nearest neighbor data, with the caveat that you'll need to manually wire up the MDE problem (instead of calling `preserve_neighbors`).

This notebook has an example that shows how to make a neighborhood preserving embedding from scratch. Start reading from the section called "Embeddings, from scratch", which show

[2022-09-30 04:38] jlmelville commented on #65
@akshayka thanks for pointing me to notebook. I think from looking at the functions called there, if I want to make my own `Graph` from a precomputed knn, and ignoring any complications due to maximum distances or custom weights, I would do something like the following for k = 15 (all of this stolen shamelessly from the pymde source code):

[code]

then I can use `graph.edges` to pass to e.g. the

[2022-10-06 14:47] kevinsweeney84 opened #66 "Conflict with sklearn.manifold.TSNE"
Running in Jupyter notebook. Importing TSNE (`from sklearn.manifold import TSNE`) prior to pyMDE (`import pymde`) is causing the kernel to die when I try to use pyMDE (for example (`mnist = pymde.datasets.MNIST()`)

The same is true in reverse, i.e. `TSNE` also kills kernel if the `pyMDE` is imported before `TSNE`

[code]

**Library versions:**
pymde  - 0.1.15
scikit-learn  - 1.1.1

[2022-10-26 19:54] akshayka commented on #66
@kevinsweeney84, thanks for reporting. That's perplexing behavior.

Somehow, I was unable to reproduce this issue (I am running on Ubuntu 22.04).

Is there anything else you can tell me about your set-up? What operating system are you using, and how much RAM do you have?

[2022-10-26 19:56] akshayka commented on #65
Something like that does look right! Were you able to get it working?

This is probably a common enough use case that we should consider including a helper function in the library to automate it.

[2022-10-26 20:30] jlmelville commented on #65
Yes thanks! I was able to make it work, although on top of a helper function to generate a Graph from nearest neighbors indices, `preserve_neighbors` itself has some useful functionality around e.g. initialization so refactoring that function to allow a precomputed Graph would make a big difference. Looking at it, it might involve a fair bit of extra logic or extra parameters to account for that,

[2022-10-26 20:49] akshayka commented on #65
Great! Thanks for reporting back.

At the very least, I will keep this issue open so others can chime in if they'd like this functionality as well.

[2022-10-27 08:24] kevinsweeney84 commented on #66
Hello @akshayka. I am running on MacOS. I managed to "fix" the issue by installing `nomkl` (https://anaconda.org/conda-forge/nomkl) prior to installing `sklearn` or `pymde`.  There seems to have been some conflict regarding the MKL used across both packages.

When running the code through terminal I got an error similar to
[code]

See https://discuss.pytorch.org/t/is-nomkl-still-recommended-for-om

[2022-11-11 15:30] koaning opened #67 "scikit-learn compatible API"
Is there a reason why the library doesn't offer a scikit-learn compatbile API? A class that can work via the `fit_transform()` API?